
@{
    ViewBag.Title = "About";
}

<h3>Hakkımızda</h3>
<p>
    En uygun araç parçasını arıyorsanız doğru yerdesiniz. Aslında bizim en büyük temennimiz insanlara
    ihtiyacı olan
    parçaları, kar amacı gütmeden uygun fiyatlara satmak. Müşterilerimize güvenli alışveriş imkanı
    sağlayarak
    çevresindekilere de tavsiye etmelerini sağlamak.

    Sef Yedek San 2021 yılında bir üniversite öğrencisi tarafında kurulmuştur. Kurulduğu günden beri
    insanlara doğru ve
    güvenli bir şekilde hizmet vermektedir. Sef Yedek San müşteri odaklı bir platform olması
    amaçlanmıştır
    ve bu doğrultuda
    çalışmalar yürütmektedir.

    Siz değerli müşterilerimize beklediğiniz hizmeti vermeyi umarım başarabilmişizdir. Tekrar görüşmek
    üzere
    sağlıcakla
    kalın.

</p>

