
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-5">
                    <h4 class="text-center">Aracınızı Seçiniz</h4>
                    <div class="form-group">
                        <select class="form-select type-list mb-3">
                            <option selected> Araç Türü Seçiniz</option>
                        </select>
                        <select class="form-select brand-list mb-3"></select>
                        <select class="form-select model-list"></select>
                    </div>
                    <div class="form-group mt-3 text-center">
                        <button class="btn btn-success">Ara <i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-7">
                    <h4 class="text-center">Fırsat Ürünleri</h4>
                    <div class="swiper opportunity-products">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="~/src/assets/products/3.png" alt=""></div>
                            <div class="swiper-slide"><img src="~/src/assets/products/4.png" alt=""></div>
                            <div class="swiper-slide"><img src="~/src/assets/products/5.png" alt=""></div>
                            <div class="swiper-slide"><img src="~/src/assets/products/6.png" alt=""></div>
                            <div class="swiper-slide"><img src="~/src/assets/products/7.png" alt=""></div>
                            <div class="swiper-slide"><img src="~/src/assets/products/8.png" alt=""></div>
                            <div class="swiper-slide"><img src="~/src/assets/products/9.png" alt=""></div>
                            <div class="swiper-slide"><img src="~/src/assets/products/10.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card discount-card">
                        <div class="card-body">
                            <div class="d-flex flex-row align-items-center ">
                                <img class="img-fluid" style="width: 100px;" src="~/src/assets/logo.png" alt="kart">
                                <div class="flex-grow-1 text-center">
                                    <h5>SEFA YEDEK SAN</h5>
                                    <h6>Indirim Kartı</h6>
                                </div>
                            </div>
                            <div class="text-center card-number">
                                4446 7600 0000 0000
                                <div class="d-flex justify-content-end ">
                                    06/26
                                </div>
                            </div>
                            <div>
                                SEFA ÖZCAN
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-6 discount-text">
                    <h4 class="flex-grow-1 blink_me text-danger fw-bold text-center">
                        Kart İle Alımlarda İNDİRİM!!
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="card">
        <div class="card-body">
            <div class="swiper brand-slider">
                <div class="swiper-wrapper brand-slider-container">
                </div>
            </div>
        </div>
    </div>


    <div class="separator"></div>

    <div class="card">
        <div class="card-body">
            <h4 class="text-center">EN Çok Satan Ürünler</h4>
            <div class="swiper top-seller-products">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="~/src/assets/products/10.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/src/assets/products/11.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/src/assets/products/12.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/src/assets/products/13.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/src/assets/products/14.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/src/assets/products/15.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/src/assets/products/16.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/src/assets/products/17.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/src/assets/products/18.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/src/assets/products/19.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/src/assets/products/20.png" alt=""></div>
                    <div class="swiper-slide"><img src="~/src/assets/products/21.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="card">
        <div class="card-body">
            <h4 class="text-center">Pratik Bilgiler</h4>
            <div class="swiper practical-information">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-header">
                                Lastiklerin ömrü ne kadardır
                            </div>
                            <div class="card-body">
                                Kullanılmaya başlanan lastiklerin genellikle 5 yıl içerisinde aşınma dolayısıyla
                                değiştirilmesi tavsiye edilir. Hiç
                                kullanılmayan lastikler ise 10 yıl sonunda ömrünü doldurur. Her ne olursa olsun 10
                                yıldan büyük lastiklerin
                                değiştirilmesi şarttır.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-header">
                                Triger Kayışı Nedir ve Neden Önemlidir
                            </div>
                            <div class="card-body">
                                Krank mili ve eksantriğin birbirleriyle uyumlu çalışmasını sağlayan, parçalar arasındaki enerji iletimi yapan, koptuğu zaman motorun zarar görmesine neden olan triger kayışı, değişimini ve kontrolünü düzenli olarak yetkili servislere yaptırmanız gereken bir parça.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-header">
                                Yüksek Oktanlı Yakıt Kullanmanın Faydaları
                            </div>
                            <div class="card-body">
                                Aracınızın motor kapasitesine uygun, yüksek oktanlı yakıt kullanarak motorun ömrünü uzatır, performansının artmasını sağlarsınız. Ayrıca kalitesiz yakıt kullanmaktan kaçınmak da önemlidir. Kalitesiz yakıt, motorda hararete neden olduğu ve aracın çekiş gücünde azalma yarattığı için kesinlikle tercih edilmemelidir.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-header">
                                Temiz Hava Filtresi = Yüksek Performans
                            </div>
                            <div class="card-body">
                                İsminden de anlaşılacağı gibi hava filtresi, motora temiz ve tozsuz havanın girmesini sağlar. Kirlenmiş hava filtresi ise görevini layıkıyla yerine getiremeyeceğinden motora kirli havanın gitmesine, motorun performansının azalmasına ve sonuç olarak yakıt tüketiminin artmasına neden olur. Bu yüzden hava filtresinin belli aralıklarla kontrol edilmesi ve değiştirilmesi, aracın ömrünü uzatmada etkilidir
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-header">
                                Akü Ömrü Kaç Yıl
                            </div>
                            <div class="card-body">
                                Aracın fazla elektrik tüketmesini ve akü ömrünün kısalmasını engelleyen en etkili yöntem ise periyodik bakımdır. Düzenli olarak periyodik bakımlara dahil olan araçlar, elektrik tüketimi konusunda daha başarılıdır. Bu nedenle periyodik bakımlara dahil olan araçların akü ömrü daha uzun olur.
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-header">
                                Yüksek Devirlerde Araç Kullanmanın Zararlar
                            </div>
                            <div class="card-body">
                                Her aracın belli bir devir aralığı vardır. Bunun nedeni ise araçtan yüksek performans almaktır. Aracı fazla zorlamak ve devir aralığını aşmak, yakıtın bir kısmının yanmadan egzozdan atılmasına, motorun hararet yapmasına, aracın çabuk yıpranmasına neden olur
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-header">
                                Kaportayı Nasıl Koruyabilirsiniz?
                            </div>
                            <div class="card-body">
                                Güneş ışığı, kuş pislikleri ve yapışan tozlar, kaportadaki boyanın canlılığını yitirmesine neden olur. Bunu önlemenin yolu, boya üzerine cila yaptırmaktır. Fakat burada dikkat edilmesi gereken nokta, cilalama işinde kaliteli malzeme kullanılmasıdır. Çünkü düşük kaliteli cila, ikinci el arabaların fiyatını da düşürür.

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-header">
                                Kaçınılması Gereken Sürücü Davranışları
                            </div>
                            <div class="card-body">
                                Vitesi sert bir şekilde değiştirmemek gerekir. Ayağınız sürekli debriyaj pedalının üzerinde olursa balatalar daha hızlı aşınır.
                                Ani dur-kalklar yapmak da önerilmez. Frene sert bir şekilde basmak ve bunu sık aralıklarla tekrarlamak, motoru zorlamak demektir.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="card">
        <div class="card-body">
            <h4 class="text-center">Kullanıcı Yorumları</h4>
            <div class="swiper user-comments">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-around">
                                    <div class="pr-2">Ali Ayhan</div>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <small>
                                    Skoda octavia için aldım hızlı kargo için teşekkürler.
                                    <br>
                                    <small>4 gün önce</small>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-around">
                                    <div class="pr-2">SEFA ÖZCAN</div>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star "></i> <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <small>
                                    satıcıda sorun yok.siparişimle ilgilendiler telefon açıp teyitleştik.ürünler
                                    sorunsuz geldi biraz kargo geçikti fakat
                                    sorun yok Teşekkürler.
                                    <br>
                                    <small>4 gün önce</small>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-around">
                                    <div class="pr-2">Oğuz Doğan</div>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                    </div>
                                </div>
                                <small>
                                    İstediğin ürünü kolaylıkla kolaylıkla buldum .Teşekkürler iyi günler
                                    <br>
                                    <small>6 gün önce</small>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-around">
                                    <div class="pr-2">RECEP ŞEN</div>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i> <i class="fa fa-star "></i> <i class="fa fa-star "></i> <i class="fa fa-star "></i>
                                        <i class="fa fa-star "></i>
                                    </div>
                                </div>
                                <small>
                                    Aldığım Renault traffic Westing house parçası kaliteli ve doğru bir şekilde gelmedi. Ürün Beklediğim kalitede çıkmadı.
                                    <br>
                                    <small>1 gün önce</small>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-around">
                                    <div class="pr-2">İlkay Taşdemir</div>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <small>
                                    Hızlı teslim aldım teşekkür ederim.Herkes tavsiye ederim sağlıklı günler.                                        <br>
                                    <small>4 gün önce</small>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-around">
                                    <div class="pr-2">SALİH AYHAN</div>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i>
                                    </div>
                                </div>
                                <small>
                                    Cok iyi paketlenmesi çok iyiydi . İhtiycacım olduğunda tekrar sipariş vericem.
                                    <br>
                                    <small>10 gün önce</small>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-around">
                                    <div class="pr-2">AHMET DOĞAN</div>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <small>
                                    Ürün orijinal, kargo paketi özenli. Teşekkür
                                    <br>
                                    <small>4 gün önce</small>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-around">
                                    <div class="pr-2">YUSUF TOPKAYA</div>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <small>
                                    Aradığım ürünü doğru bir şekilde buldum. Fiyat olarakta piyasanın çok altında herkese tavsiye ederim . Teşekkürler
                                    <br>
                                    <small>4 gün önce</small>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/src/js/home.js" type="module"></script>
}